/*
    Document   : styleguide.css
    Created on : 2015-03-01 01:23 PM
    Author     : GilDavid
    Description:
    Purpose of the stylesheet follows.
    To change this template use Tools | Templates.
*/

/* ------- GENERAL -----------
   -----------------------------------  */ 

root {
    display: block;
}

body {
    background: #e5e5e5;
}

p, h4 {
    margin: 0;
}

/* ------- BUTTON -----------
   -----------------------------------  */ 

.button {
    position: relative;
    border-radius: 6px;
    background-color:  #3399cc;
    width: 178px;
    height: 34px;
    padding-left: 10px;
    box-shadow: 0px 1px 2px 0px rgba(62, 157, 194, 0.75);
    font-family: Arial;
    color:  #ffffff;
    font-size: 14px;
    font-weight: 400;
    line-height: 34px;
    text-align: left;
}

.arrow-right { 
    position: absolute;
    top: 28%;
    right: 10%;
    width: 0; 
	height: 0; 
	border-top: 8px solid transparent;
	border-bottom: 8px solid transparent;
	border-left: 8px solid white;
}

/* ------- HEADER-HEADING -----------
   -----------------------------------  */ 


.header-heading {
    width: 415px;
    height: 87px;
    font-family: FormataBQ;
    color:  #ffffff;
    font-size: 42px; /* Approximation due to font substitution */
    font-weight: 100;
    line-height: 44px; /* Approximation due to font substitution */
    text-align: left;
}

.strong {
    font-weight: bold;
}

/* ------- HEADER BOX -----------
   -----------------------------------  */ 

.headerBox {
    display: inline-block;
    padding: 10px;
    border-radius: 6px;
    background-color:  rgba(255, 51, 153, 0.9);
    box-shadow: 0px 1px 4px 0px #a2a2a2;
    width: 290px;
    height: 174px;
}

.headerBox p {
    margin: 0 auto 50px auto;
    font-family: FormataBQ;
    color:  #ffffff;
    font-size: 24px; /* Approximation due to font substitution */
    font-weight: 300;
    line-height: 30px; /* Approximation due to font substitution */
    text-align: left;
}

/* ------- READ-MORE COMPONENT -----------
   -----------------------------------  */ 

.read-more {
    color: white;
}

.read-more p {
    display: inline-block;
    font-size: 15px;
    margin-bottom: 0;
    height: 20px;
    line-height: 20px;
}

.read-more img {
    display: inline-block;
    width: 27px;
    height: 20px;
    margin-right: 7px;
    vertical-align: middle;
    float: left;
}

/* ------- SECTION NAV ICON -----------
   -----------------------------------  */ 

.section-nav-icon {
    display: inline-block;
}

.section-nav-icon p {
    color: white;
    margin: 0;
    text-align:center;
}

/* ------- SECTION BOX -----------
   -----------------------------------  */ 

.section-box {
    display: inline-block;
    padding: 10px;
    border-radius: 2px;
    background-color:  rgba(255, 255, 255, 0.4);
    box-shadow: 0px 1px 4px 0px #a2a2a2;
    width: 276px;
    height: 99px;
}

.section-box-date {
    float: left;
    border-radius: 2px;
    background-color:  #3399cc;
    box-shadow: 1px 2px 4px 0px rgba(0, 0, 0, 0.2);
    width: 69px;
    height: 99px;
}

.section-box-date p {
    color: white;
    text-align: center;
    
}

.section-box-date p:nth-of-type(1) {
    border-bottom: 1px white dashed;
    font-size: 48px;
}

.section-box-date p:nth-of-type(2) {
    font-size: 18px;
    margin: 15px 0;
}

.section-box-text {
    width: 195px;
    color: black;
    display: inline-block;
    margin-left: 10px;
}

/* ------- BIG STORY BOX -----------
   -----------------------------------  */ 

.big-story-box {
    padding: 20px;
    display: inline-block;
    border-radius: 2px;
    background-color:  #ffffff;
    width: 309px;
    height: 169px;
}

.big-story-image {
    display: inline-block;
    float: left;
    background-color:  rgba(255, 0, 96, 0.8);
    width: 99px;
    height: 111px;
    border: 1px solid;
}

.big-story-top p {
    display: inline-block;
    width: 190px;
    margin-left: 10px;
    font-family: FormataBQ;
    color:  #565656;
    font-size: 19px; 
    font-weight: 300;
    line-height: 28px; 
    text-align: left;
}

.big-story-footer {
    border-top: 1px #dddddd solid;
    margin-top: 17px;
    padding-top: 12px;
    clear: both;
}

.big-story-footer h4 {
    display:inline-block;
    font-family: FormataBQ;
    color:  #3aa6db;
    font-size: 14.127px; 
    font-weight: 300;
    text-align: left;
}

.big-story-footer p {
    display:inline-block;
    font-family: Arial;
    color:  #565656;
    font-size: 14.128px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
}

.big-story-footer img {
    float: right;
}

/* ------- SMALL STORY BOX -----------
   -----------------------------------  */ 

.small-story-box {
    overflow: hidden;
    border-radius: 2px;
    background-color:  #ffffff;
    width: 110px;
    height: 97px;
}

.small-story-box img{
    margin-top: 20px;
}

.medium-story-box {
    padding: 10px;ng: 10px;
    border-radius: 2px;
    background-color:  #ffffff;
    width: 229px;
    height: 209px;
}

