root {
    display: block;
}

body {
    margin: 0;
}

.middle {
    margin: 0 auto;
}

.center {
    text-align:center;
}

.uppercase {
    text-transform: uppercase;
}

.capital {
    text-transform: capitalize;
}

.right {
    float: right;
}

.left {
    float: left;
}



/* ------------- HEADER --------------
   -----------------------------------  */ 

header {
    background-color:  #ffffff;
    box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.09);
    width: 100%;
    padding: 14px 0;
    height: 62px;
    position:relative;
    z-index: 10;
    align-items: baseline;
}

.container {
    width: 1000px;
    height: inherit;
    margin: 0 auto;
}

a.nav-icon-container {
    display: inline-block;
}

nav {
    display: inline-block;
}

nav li, nav ul {
    margin: 0;
    display: inline-block;
}

.header-nav li:not(:first-of-type) {
    border-left: 1px solid;
}

.header-nav li {
    padding: 0 10px;
}

.login-search {
    float: right;
    display: inline-block;
    height: inherit;
    width: 170px;
}

.lang  {
    display: inline-block;
    margin-bottom: 25px;
    width: 45px;
    border: none;
}

.login {
    float: right;
    padding-left: 10px;
    border-left: 1px solid;
}

.search {
    background: url('../assets/Magnifying_Glass.png') no-repeat scroll 150px 6px;
    border-radius:5px;
    height: 25px;
    width: 170px;
    border: 1px solid gray;
}

/* ------------ VISION ---------------
   -----------------------------------  */ 

.vision {
    height: 560px;
    background: url('../assets/giantwheel_bg.jpg');
    background-size: 100% 100%;
}

.vision .heading {
    width: 450px;
    margin-bottom: 10px;
}

.vision .container > h3 {
    color: #fff;
    font-weight: 100;
}

.vision a.button {
    margin: 15px 0;
}

.carousel {
    margin-bottom: 70px;
}

/* ------------- OFFERS --------------
   -----------------------------------  */ 

.offers {
    height: 420px;
    background: url('../assets/blue_bg.jpg');
    background-size: 100% 100%;
}

.services {
    margin: 30px 72px 50px 72px;
}

.service {
    vertical-align: top;
}

.service .icon {
    margin: 10px auto;
}

.service span {
    height: 15px;
}

.service:nth-of-type(1) .icon {
    background: url('../assets/Cloud.png') no-repeat;
    width: 130px;
}

.service:nth-of-type(2) .icon {
    background: url('../assets/Robot.png') no-repeat;
    width: 86px;
}

.service:nth-of-type(3) .icon {
    background: url('../assets/mountain.png') no-repeat;
}

.service:nth-of-type(4) .icon {
    background: url('../assets/Cloud.png') no-repeat;
    width: 130px;
}

.service:nth-of-type(5) .icon {
    background: url('../assets/people.png') no-repeat;
    width: 97px;
}

.service:nth-of-type(6) .icon {
    background: url('../assets/Cloud.png') no-repeat;
    width: 130px;
}

/* ------------- NEWS ----------------
   -----------------------------------  */ 

.news {
    position: relative;
    height: 420px;
    background: url('../assets/bottom_wheel.png');
    box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.39);
    background-size: 100% 103%;
    margin-top: -2px;
    z-index: 10;
}


.new {
    width: 300px;
}

.new:nth-of-type(2) {
    margin: 0 50px;
}

/* ----------- TESTIMONIES -----------
   -----------------------------------  */ 

.testimonies {
    background: #ECECEC;
    height: 525px;
    margin-top: 3px;
}

.testimony-group {
    width: 368.75px;
    display: inline-block;
    overflow: hidden;
}

.testimony-group:nth-of-type(2) {
    margin: 0 10px;
}

.testimony-group.no-picture {
    width: 242.5px;
}

.testimony-group.no-picture .testimony {
    width: 202.5px;
}

.testimony-group:nth-of-type(2) q {
    font-size: 16px;
    line-height: 22px;
}

.testimony-group:nth-of-type(1) .testimony,
.testimony-group:nth-of-type(3) .testimony {
    margin-bottom: 10px;
}

.testimony-group:nth-of-type(2) .testimony {
    margin-top: 10px;
}

.testimonies .heading {
    color: #565656;
    margin-bottom: 40px;
}

.testimonies .button {
    margin-top: 20px;
}

/* ----------- ADDITIONAL -----------
   -----------------------------------  */ 

.additional {
    background: #1F1F1F;
    position: relative;
    height: 320px;
}

.footer-appendix {
    color: #6A6A6A;
    position: absolute;
    bottom: 10px;
}

.copyright {
    border-right: 1px solid #565656;
    padding-right: 10px;
    margin-right: 10px;
}

.social-links {
    position: absolute;
    bottom: 5px;
}

.youtube-icon {
    background: url('../assets/YouTube3.png') center no-repeat;
}

.twitter-icon {
    background: url('../assets/Twitter.png') center no-repeat;
}

.linkedin-icon {
    background: url('../assets/LinkedIn.png') center no-repeat;
}


