root {
    display: block;
}

html {
    font-size: 62.5%;
}

body {
    margin: 0;
    padding-top: 93px;
    overflow-x:hidden;
}

.middle {
    margin: 0 auto;
}

.center {
    text-align:center;
}

.uppercase {
    text-transform: uppercase;
}

.capital {
    text-transform: capitalize;
}

.right {
    float: right;
}

.left {
    float: left;
}

a {
    font-size: 1.6rem;
}


/* ------------- HEADER --------------
   -----------------------------------  */ 

.navbar {
    background-color:  #ffffff;
    box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.09);
    width: 100%;
    padding: 14px 0;
    height: 92px;
    z-index: 1000;
    align-items: baseline;
    position: fixed;
    box-sizing: border-box;
    top: 0;
}

.container {
    width: 1000px;
    height: inherit;
    margin: 0 auto;
    position: relative;
}

.expend-links, .search-button {
    display:none;
}


a.nav-icon-container {
    display: inline-block;
}

.header-nav {
    display: inline-block;
}

nav li, nav ul {
    margin: 0;
    display: inline-block;
}

.nav-link {
    padding: 12px 8px 14px 8px;
}

.login-search {
    top: 0;
    right: 0;
    height: inherit;
    width: 170px;
    position: absolute;
}

.lang  {
    display: inline-block;
    margin-bottom: 25px;
    width: 45px;
    border: none;
}

.login {
    float: right;
    padding-left: 10px;
    border-left: 1px solid;
}

.search {
    background: url('../assets/Magnifying_Glass.png') no-repeat scroll 150px 6px;
    border-radius:5px;
    height: 25px;
    width: 170px;
    border: 1px solid gray;
}

@media screen and (max-width: 1024px) {
    
    .container {
        width: 100%;
        min-width: 320px;
        margin: 0 auto;
    }
    
    .expend-links, .search-button {
        width: 50px;
        height: 50px;
        display:block;
        background: #f0f0f0;
        position: absolute;
        top: 20px;
    }
    
    .expend-links {
         left: 10px;
    }
    
    .search-button {
        right: 10px;
    }
    
    .expend-links button,
    .search-button button {
        width: 100%;
        height: 100%;
        background: url('../assets/hamburger-icon.png') no-repeat;
        background-size: 70% 70%;
        background-position: center;
    }
    
    .search-button button {
        background: url('../assets/Magnifying_Glass.png') no-repeat;
        background-size: 70% 70%;
        background-position: center;
    }

    .login-search, .header-nav {
        display: none;
    }

    a.nav-icon-container {
        display: block;
        width: 185px;
        margin: 0 auto;
    }
}

/* ------------ VISION ---------------
   -----------------------------------  */ 

.vision {
    height: 600px;
    background: url('../assets/giantwheel_bg.jpg');
    background-size: 100% 100%;
    position: relative;
}

.vision .sub-heading {
    color: #fff;
    font-weight: 100;
}

.vision a.button {
    margin: 15px 0;
}

.carousel {
    margin-bottom: 70px;
}

@media screen and (max-width: 1024px) {
 
    .vision-header {
       background: rgba(24, 139, 197, 0.8);
    }
    
    .vision {
        height: 1024px;
        background-repeat: no-repeat;
        background-size: 100% 39.5%;
    }

    .advantages {
        width: 100%;
    }
    
    .advantage {
        position: relative;
        display: block;
        width: 100%;
        margin-bottom: 10px;
    }
    
    .advantage:nth-of-type(2) {
     background-color:  rgba(90, 190, 40, 0.9);
     margin: 10px 0px; 
}

    .vision a.button {
        margin: 15px 10px;
    }

    .carousel {
        margin: 150px 0 20px 10px;
    }
    
    ol.carousel li {
        width: 30px;
        height: 30px;
        font-size: 2.5rem;
        line-height:30px;
        text-align: center;
    }

    ol.carousel li:nth-of-type(2),
    ol.carousel li:nth-of-type(3),
    ol.carousel li:nth-of-type(4){
        background: #e5e5e5;
        color: #737373;
    }
}

/* ------------- OFFERS --------------
   -----------------------------------  */ 

.offers {
    height: 420px;
    background: url('../assets/blue_bg.jpg');
    background-size: 100% 100%;
}

.services {
    margin: 30px 72px 50px 72px;
}

.service {
    box-sizing: border-box;
    vertical-align: top;
    width: 16%;
    height: 100px;
    margin: 20px 0;
    font-size: 1.4rem;
}

.service .icon {
    width: 100%;
    height: 100%;
    margin: 10px auto;
    display: inline-block;
    margin: 0;
}

.service:nth-of-type(1) .icon {
    background: url('../assets/Cloud.png') center no-repeat;
    background-size: 90% 90%;
    
}

.service:nth-of-type(2) .icon {
    background: url('../assets/Robot.png') center no-repeat;
    background-size: 90% 90%;
}

.service:nth-of-type(3) .icon {
    background: url('../assets/mountain.png') center no-repeat;
    background-size: 90% 90%;
}

.service:nth-of-type(4) .icon {
    background: url('../assets/Cloud.png') center no-repeat;
    background-size: 90% 90%;
}

.service:nth-of-type(5) .icon {
    background: url('../assets/people.png') center no-repeat;
    background-size: 90% 90%;
}

.service:nth-of-type(6) .icon {
    background: url('../assets/Cloud.png') center no-repeat;
    background-size: 90% 90%;
}

@media screen and (max-width: 1024px) {
    
    .services {
        padding: 50px 10px;
        margin: 0;
    }
    
    .offers {
        height: 500px;
    }
    
    .service {
        box-sizing: border-box;
        margin: 20px 0;
        width: 32%;
    }
    
    .offers .button {
        display: none;
    }
}

/* ------------- NEWS ----------------
   -----------------------------------  */ 

.news {
    position: relative;
    height: 420px;
    background: url('../assets/bottom_wheel.png');
    box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.39);
    background-size: 100% 103%;
    margin-top: -2px;
    z-index: 10;
}


.new {
    width: 300px;
}

.new:nth-of-type(2) {
    margin: 0 50px;
}

@media screen and (max-width: 1024px) {
    .news {
        height: 850px;
        text-align: center;
    }    

    .new {
        width: 85%;
        margin-bottom: 30px;
    }

    .new:nth-of-type(2) {
        margin: 0;
    }

    .news-main {
        width: 100%;
        box-sizing:border-box;
        height: 120px;
    }
      
}

/* ----------- TESTIMONIES -----------
   -----------------------------------  */ 

.testimonies {
    background: #ECECEC;
    height: 525px;
    margin-top: 3px;
}

.testimony-wrapper {
    position: relative;
    height: 209px;
    margin-bottom:10px;
    overflow: hidden;
    box-sizing: border-box;
}

.testimony-group:nth-of-type(2) .testimony-wrapper {
    margin-top: 10px;
    margin-bottom: 0;
}

.testimony-group {
    width: 368.75px;
    display: inline-block;
    overflow: hidden;
    position: relative;
}

.testimony-group:nth-of-type(2) {
    margin: 0 10px;
}

.testimony-group.no-picture {
    width: 242.5px;
}

.testimony-group.no-picture .testimony {
    width: 100%;
}

.testimony-group:nth-of-type(3) q {
    font-size: 1.4rem;
}

.testimonies .heading {
    color: #565656;
    margin-bottom: 40px;
}

.testimonies .button {
    margin-top: 20px;
}

@media screen and (max-width: 1024px) {
    
    .testimonies {
        height: 850px;
        text-align: center;
    } 
    
    .testimony-group {
        box-sizing: border-box;
        width: 90%;
        height: 318px;
    }

    .testimony {
        width: 100%;
        top: 0;
        left: 0;
    }


    .testimony-wrapper .back q {
        font-size: 1.7rem;
    }

    .testimony-group:nth-of-type(2) .partners {
        position: absolute;
        bottom: 0;
        left: 0;
    }

    .testimony-group:nth-of-type(3) {
        display: none;
    }
}

/* ----------- ADDITIONAL ------------
   -----------------------------------  */ 

.additional {
    background: #1F1F1F;
    position: relative;
    height: 355px;
}

.footer-appendix {
    color: #6A6A6A;
    position: absolute;
    bottom: 10px;
}

.copyright {
    border-right: 1px solid #565656;
    padding-right: 10px;
    margin-right: 10px;
    font-size: 1.2rem;
}

.privacy a {
    font-size: 1.2rem;
}

.social-links {
    position: absolute;
    bottom: 5px;
}

.youtube-icon {
    background: url('../assets/YouTube3.png') center no-repeat;
}

.twitter-icon {
    background: url('../assets/Twitter.png') center no-repeat;
}

.linkedin-icon {
    background: url('../assets/LinkedIn.png') center no-repeat;
}

/* ----------- TABS-EXPENDS ------------
   -----------------------------------  */ 

.nav-link:hover, .lang:hover, .login:hover {
     color: #3D99CA;
}

.nav-link:hover {
    background: #fff;
    box-shadow: -5px 9px 8px rgba(0,0,0,0.4);
    border: 1px solid rgb(219, 205, 205);
    border-bottom: none;
    color: #3D99CA;
}

.login:hover {
    text-decoration: underline;
}

.button:hover {
	background: -moz-linear-gradient(top, #40a2d5 0%, #289ad2 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#40a2d5), color-stop(100%, #289ad2));
	background: -webkit-linear-gradient(top, #40a2d5 0%, #289ad2 100%);
	background: -o-linear-gradient(top, #40a2d5 0%, #289ad2 100%);
	background: -ms-linear-gradient(top, #40a2d5 0%, #289ad2 100%);
	background: linear-gradient(to bottom, #40a2d5 0%, #289ad2 100%);
}

.button:active {
	background: -moz-linear-gradient(top, #1286c1 0%, #2e97cb 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1286c1), color-stop(100%, #2e97cb));
	background: -webkit-linear-gradient(top, #1286c1 0%, #2e97cb 100%);
	background: -o-linear-gradient(top, #1286c1 0%, #2e97cb 100%);
	background: -ms-linear-gradient(top, #1286c1 0%, #2e97cb 100%);
	background: linear-gradient(to bottom, #1286c1 0%, #2e97cb 100%);
}

.nav-link:hover .tabs-expend {
    display:block;
}

.partners li:hover .front,
.testimony-wrapper:hover .testimony {
    -webkit-transform:translateY(-100%);
    -moz-transform:translateY(-100%);
    transform:translateY(-100%);
}

.partners li .front {
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
}

.testimony-wrapper .testimony{
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

