root {
    display: block;
}

body {
    margin: 0;
}

.middle {
    margin: 0 auto;
}

.center {
    text-align:center;
}

.uppercase {
    text-transform: uppercase;
}

.capital {
    text-transform: capitalize;
}

.right {
    float: right;
}

.left {
    float: left;
}



/* ------------- HEADER --------------
   -----------------------------------  */ 

header {
    background-color:  #ffffff;
    box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.09);
    width: 100%;
    padding: 14px 0;
    height: 62px;
    z-index: 10;
    align-items: baseline;
    position: relative;
    
}

.container {
    width: 1000px;
    height: inherit;
    margin: 0 auto;
}

.navbar .container {
    position: relative;
}

a.nav-icon-container {
    display: inline-block;
}

nav {
    display: inline-block;
}

nav li, nav ul {
    margin: 0;
    display: inline-block;
}

.header-nav li {
    padding: 12px 8px 14px 8px;
}

.login-search {
    float: right;
    display: inline-block;
    height: inherit;
    width: 170px;
}

.lang  {
    display: inline-block;
    margin-bottom: 25px;
    width: 45px;
    border: none;
}

.login {
    float: right;
    padding-left: 10px;
    border-left: 1px solid;
}

.search {
    background: url('../assets/Magnifying_Glass.png') no-repeat scroll 150px 6px;
    border-radius:5px;
    height: 25px;
    width: 170px;
    border: 1px solid gray;
}

/* ------------ VISION ---------------
   -----------------------------------  */ 

.vision {
    height: 560px;
    background: url('../assets/giantwheel_bg.jpg');
    background-size: 100% 100%;
}

.vision .heading {
    width: 450px;
    margin-bottom: 10px;
}

.vision .container > h3 {
    color: #fff;
    font-weight: 100;
}

.vision a.button {
    margin: 15px 0;
}

.carousel {
    margin-bottom: 70px;
}

/* ------------- OFFERS --------------
   -----------------------------------  */ 

.offers {
    height: 420px;
    background: url('../assets/blue_bg.jpg');
    background-size: 100% 100%;
}

.services {
    margin: 30px 72px 50px 72px;
}

.service {
    vertical-align: top;
}

.service .icon {
    margin: 10px auto;
}

.service span {
    height: 15px;
}

.service:nth-of-type(1) .icon {
    background: url('../assets/Cloud.png') no-repeat;
    width: 130px;
}

.service:nth-of-type(2) .icon {
    background: url('../assets/Robot.png') no-repeat;
    width: 86px;
}

.service:nth-of-type(3) .icon {
    background: url('../assets/mountain.png') no-repeat;
}

.service:nth-of-type(4) .icon {
    background: url('../assets/Cloud.png') no-repeat;
    width: 130px;
}

.service:nth-of-type(5) .icon {
    background: url('../assets/people.png') no-repeat;
    width: 97px;
}

.service:nth-of-type(6) .icon {
    background: url('../assets/Cloud.png') no-repeat;
    width: 130px;
}

/* ------------- NEWS ----------------
   -----------------------------------  */ 

.news {
    position: relative;
    height: 420px;
    background: url('../assets/bottom_wheel.png');
    box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.39);
    background-size: 100% 103%;
    margin-top: -2px;
    z-index: 10;
}


.new {
    width: 300px;
}

.new:nth-of-type(2) {
    margin: 0 50px;
}

/* ----------- TESTIMONIES -----------
   -----------------------------------  */ 

.testimonies {
    background: #ECECEC;
    height: 525px;
    margin-top: 3px;
    
}

.testimony-group {
    width: 368.75px;
    display: inline-block;
    overflow: hidden;
}

.testimony-group:nth-of-type(2) {
    margin: 0 10px;
}

.testimony-group.no-picture {
    width: 242.5px;
}

.testimony-group.no-picture .testimony {
    width: 202.5px;
}

.testimony-group:nth-of-type(2) q {
    font-size: 16px;
    line-height: 22px;
}

.testimony-group:nth-of-type(1) .testimony,
.testimony-group:nth-of-type(3) .testimony {
    margin-bottom: 10px;
}

.testimony-group:nth-of-type(2) .testimony {
    margin-top: 10px;
}

.testimonies .heading {
    color: #565656;
    margin-bottom: 40px;
}

.testimonies .button {
    margin-top: 20px;
}

/* ----------- ADDITIONAL ------------
   -----------------------------------  */ 

.additional {
    background: #1F1F1F;
    position: relative;
    height: 320px;
}

.footer-appendix {
    color: #6A6A6A;
    position: absolute;
    bottom: 10px;
}

.copyright {
    border-right: 1px solid #565656;
    padding-right: 10px;
    margin-right: 10px;
}

.social-links {
    position: absolute;
    bottom: 5px;
}

.youtube-icon {
    background: url('../assets/YouTube3.png') center no-repeat;
}

.twitter-icon {
    background: url('../assets/Twitter.png') center no-repeat;
}

.linkedin-icon {
    background: url('../assets/LinkedIn.png') center no-repeat;
}

/* ----------- TABS-EXPENDS ------------
   -----------------------------------  */ 

.nav-link:hover, .lang:hover, .login:hover {
     color: #3D99CA;
}

.nav-link:hover {
    background: #fff;
    box-shadow: -5px 9px 8px rgba(0,0,0,0.4);
    border: 1px solid rgb(219, 205, 205);
    border-bottom: none;
    color: #3D99CA;
}

.login:hover {
    text-decoration: underline;
}

.button:hover {
	background: -moz-linear-gradient(top, #40a2d5 0%, #289ad2 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#40a2d5), color-stop(100%, #289ad2));
	background: -webkit-linear-gradient(top, #40a2d5 0%, #289ad2 100%);
	background: -o-linear-gradient(top, #40a2d5 0%, #289ad2 100%);
	background: -ms-linear-gradient(top, #40a2d5 0%, #289ad2 100%);
	background: linear-gradient(to bottom, #40a2d5 0%, #289ad2 100%);
}

.button:active {
	background: -moz-linear-gradient(top, #1286c1 0%, #2e97cb 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1286c1), color-stop(100%, #2e97cb));
	background: -webkit-linear-gradient(top, #1286c1 0%, #2e97cb 100%);
	background: -o-linear-gradient(top, #1286c1 0%, #2e97cb 100%);
	background: -ms-linear-gradient(top, #1286c1 0%, #2e97cb 100%);
	background: linear-gradient(to bottom, #1286c1 0%, #2e97cb 100%);
}

.nav-link:hover .tabs-expend {
    display:block;
}

.partners li:hover .front {
    -webkit-transform:translateY(-100%);
    -moz-transform:translateY(-100%);
    transform:translateY(-100%);
}

.partners li .front {
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;

}