/*
    Document   : styleguide.css
    Created on : 2015-03-01 01:23 PM
    Author     : GilDavid
    Description:
    Purpose of the stylesheet follows.
    To change this template use Tools | Templates.
*/

/* ------- General -----------
   -----------------------------------  */ 

root {
    display: block;
}

body {
    background: black;
}

ul, p, h3, h4, h5 {
    margin: 0;
}

.uppercase {
    text-transform: uppercase;
}

.capital {
    text-transform: capitalize;
}

.center {
    text-align: center;
}

/* ------- Button -----------
   -----------------------------------  */ 

.button {
    display: block;
    position: relative;
    border-radius: 6px;
    background-color:  #3399cc;
    width: 178px;
    height: 34px;
    padding-left: 10px;
    box-shadow: 0px 1px 2px 0px rgba(62, 157, 194, 0.75);
    font-family: Arial;
    color:  #ffffff;
    font-size: 14px;
    font-weight: 400;
    line-height: 34px;
    text-align: left;
}

.button:after {
    content: ""; 
    position: absolute;
    top: 28%;
    right: 10%;
    width: 0; 
    height: 0; 
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-left: 8px solid white;
}


/* ------- Crousel -----------
   -----------------------------------  */ 

ol.carousel li {
  width: 10px;
  height: 10px;
  display: inline-block;
  background: #178BC5;
  border-radius: 2px;
  margin-right: 2px;
}



/* ------- Heading -----------
   -----------------------------------  */ 


.heading {
    font-family: FormataBQ;
    color: #ffffff;
    font-size: 42px; 
    font-weight: 100;
    line-height: 44px; 
    text-align: left;
    padding-top:50px;
}

.strong {
    font-weight: bold;
}

.heading.sub-heading {
    font-size: 36px;
}

/* ------- Advantages -----------
   -----------------------------------  */ 

.advantage {
    display: inline-block;
    padding: 20px;
    border-radius: 6px;
    box-shadow: 0px 1px 4px 0px #a2a2a2;
    width: 270px;
    height: 154px;
}

.advantage h3 {
    margin: 0 auto 50px auto;
    font-family: FormataBQ;
    color:  #ffffff;
    font-size: 24px; 
    font-weight: 300;
    line-height: 30px; 
    text-align: left;
}

.advantage:nth-of-type(1) {
     background-color:  rgba(255, 51, 153, 0.9);
}

.advantage:nth-of-type(2) {
     background-color:  rgba(90, 190, 40, 0.9);
}

.advantage:nth-of-type(3) {
     background-color: rgba(255, 102, 0, 0.9);
}



/* ------- Read-More Component -----------
   -----------------------------------  */ 

.read-more {
    color: white;
}

.read-more  {
    position: relative;
    display: inline-block;
    font-size: 17px;
    height: 20px;
    vertical-align: top;
}

.read-more::before {
    display: inline-block;
    content: " ";
    margin-right: 5px;
    width: 30px;
    height: inherit;
    background: url('../assets/GlobalMarket.png');
}

/* ------- Services -----------
   -----------------------------------  */ 

.service {
    display: inline-block;
    padding: 10px;
}

.service .icon {
    display: block;
    background: url('../assets/Cloud.png') no-repeat;
    width: 130px;
    height: 80px;
}

.service span {
    display: block;
    color: white;
    text-align:center;
}

/* ------- News & Events -----------
   -----------------------------------  */ 

.new {
    width: 296px;
    display: inline-block;
    margin-top: 30px;
}

.news-main {
    margin: 10px 0;
    display: inline-block;
    padding: 10px;
    border-radius: 2px;
    background-color:  rgba(255, 255, 255, 0.4);
    box-shadow: 0px 1px 4px 0px #a2a2a2;
    width: 290px;
    height: 99px;
}

.news-main h4 {
    width: 210px;
    color: black;
    display: inline-block;
    margin-left: 10px;
    
}

.date {
    float: left;
    border-radius: 2px;
    background-color:  #3399cc;
    box-shadow: 1px 2px 4px 0px rgba(0, 0, 0, 0.2);
    width: 69px;
    height: 99px;
}

.date .day, 
.date .month {
    display: block;
    text-align: center;
    color: #fff;
}

.date .day {   
    border-bottom: 1px white dashed;
    font-size: 48px;
}

.date .month {
    font-size: 20px;
    margin-top: 10px;
    font-weight: bold;
}

.new a {
    display: block;
    color: #fff;
    line-height: 20px;
    vertical-align: top;
}

.new a::before {
    display: inline-block;
    content: " ";
    margin-right: 5px;
    width: 25px;
    height: 20px;
    background: url('../assets/news.png') no-repeat;
}


/* ------- Testimony -----------
   -----------------------------------  */ 

.testimony {
    padding: 20px;
    display: inline-block;
    border-radius: 2px;
    background-color:  #ffffff;
    width: 309px;
    height: 169px;
}

.testimony > img {
    display: inline-block;
    float: left;
    background-color:  rgba(255, 0, 96, 0.8);
    width: 99px;
    height: 111px;
    border: 1px solid;
}

.testimony q {
    display: inline-block;
    width: 190px;
    margin-left: 10px;
    font-family: FormataBQ;
    color:  #565656;
    font-size: 19px; 
    font-weight: 300;
    line-height: 28px; 
    text-align: left;
}

.testimony-footer {
    border-top: 1px #dddddd solid;
    margin-top: 17px;
    padding-top: 12px;
    clear: both;
}

.testimony-footer h5,
.testimony-footer h4 {
     display:inline-block;
    text-align: left;
    font-size: 14px;
}

.testimony-footer h4 {   
    font-family: FormataBQ;
    color:  #3aa6db;
    font-weight: 300;  
}

.testimony-footer h5 {
    font-family: Arial;
    color:  #565656;
    font-weight: 400;
    line-height: 20px;
}

.testimony-footer > img {
    margin-top:7px;
    float: right;
}

/* ------- Testimony Partners -----------
   -----------------------------------  */ 

.partners li {
    display: inline-block;
    overflow: hidden;
    border-radius: 2px;
    background-color:  #ffffff;
    width: 110px;
    height: 97px;
}

.partners img {
    margin-top: 20px;
}

/* -------  Footer Links --------------
   -----------------------------------  */ 

.footer-links {
    color: #fff;
}

.footer-links ul {
    list-style-type: none;
    padding: 0;
    margin-top: 10px;
}

.footer-links h3 {
    font-size: 24px;
}

/* -------  Blog Post   --------------
   -----------------------------------  */ 

aside.blog {
    padding: 10px;
    width: 240px;
    height: 280px;
    background: rgba(225,225,225, 0.28);
    color: #fff;
}

.blog h4 {
    width: 100%;
    margin: 20px 0 5px 0;
    font-size: 17px;
    font-weight: bold;
    color: #3399cc;
}

.blog-main {
   width: 100%;
   height: 110px;
   border-bottom: 1px solid #fff;
}

.blog-date {
    float: left;
    width: 25%;
    margin-right: 5%
}

.blog-date .day {
    display: block;
    font-size: 50px;
    font-weight: 800;
}

.blog-date .month {
    display: block;
    font-size: 24px;
}

.blog-main h5 {
    line-height: 26px;
    margin-top: 10px;
    font-size: 18px;
    font-weight:lighter;
    float: right;
    width: 70%;
}

/* -------   E-Mail Forms --------------
   -----------------------------------  */ 

.blog input[type='email'],
.blog input[type='submit'] {
    margin-top: 10px;
    display: inline-block;
    height: 25px;
    border: none;
    padding:0;
}

.blog input[type='email'] {
    width: 65%;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}

.blog input[type='submit'] {
    width: 35%;
    padding:0 5%;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    background: #3399cc;
    color: white;
}


/* ------- Social Links -----------
   -----------------------------------  */ 

.social-links li {
  display: inline-block;
}

.social-links li:first-child {
  
}

.social-links li:nth-of-type(2) {
  
}

.social-links li:last-child {
  
}






